.card {
  background-color: blue;
  /* width: 66.66%; */
  padding-top: 40px;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 40px;
  color: white;
}
.fourCards {
  border: 2px solid black;
  padding: 30px 30px 30px 30px;
  margin-top: 30px;
  /* float: left; */
}
