#searchbut {
  width: 170px;
}

#topdestination {
  font-size: 70px;
}

.cara {
  padding: 50px;
}

.head {
  padding: 10px;
  margin-left: 70px;
  margin-top: 20px;
}

#largeimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../imgurl/home.jpg');
  background-repeat: no-repeat;
  background-size: 100% 125%;
}

#smallcard {
  color: 'white';
}

.datepick {
  width: 190px;
}
