#searchbut {
  width: 170px;
}

#topdestination {
  font-size: 1.5rem;
  font-weight: 300;
}

.cara {
  margin: 15px;
}

.head {
  padding: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

#largeimg {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url('../imgurl/home.jpg');
  background-repeat: no-repeat;
  background-size: 100% 145%;
  background-position: center;
 
}

#child {
  width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
}

#smallcard {
  color: 'white';
  padding-top: 40px;
  text-align: center;
}

.datepick {
  width: 190px;
}

#datp {
  width: 115px;
  height: 42px;
  padding: 6px;
  border: none;
  color: #666;
  padding-left: 8px;
}

#datp1 {
  width: 115px;
  height: 42px;
  padding: 6px;
  border: none;
  color: #666;
  padding-left: 8px;
}



#bod{
  
  padding:10px;
  width: "1000px";
  
}
#kol
{
  border:none
}
#sel{
  border:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  
}


#auto{
border: none;
}


#pro:hover {
  box-shadow: 0 0 11px rgba(24, 23, 23, 0.2);
}

@media (max-width: 320px) and (max-width: 480px) {
  body {
    background-color: rgb(53, 51, 51);
  }
}
